$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}

$breakpoints: (
  'phablet' : '600px',
  'tablet-vert' : 767px,
  'tablet-horiz' : 1080px,
  'laptop' : 1100px,
  'desktop'  : 1280px,
  'desktop-large'  : 1440px,
) !default;
 
// In `_mixins.scss`
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
 
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin scale-ratio($height, $width) {
  padding-bottom: ($height / $width) * 100%;
}