// =============================================

// Variables

// =============================================

// --------------------------------------------
// Color
// --------------------------------------------

$hechingerBlue:   #00aeef;
$hechingerYellow: #ffcf31;
$lightGray:       #f5f5f5;
$black:           #000000;
$white:           #FFFFFF;

// --------------------------------------------
// Opacity
// --------------------------------------------

$popupOpacity: 0.9;

// --------------------------------------------
// Breakpoints
// --------------------------------------------

$h-desktop--lg:  1200px;
$h-desktop:      1100px;
$h-tablet--lg:   1000px;
$h-tablet:       760px;
$h-mobile--lg:   600px;
$h-mobile:       320px;