// =============================================

// Variables

// =============================================

// --------------------------------------------
// Color
// --------------------------------------------

$hechingerBlue: #00aeef;
$hechingerYellow: #ffcf31;

// --------------------------------------------
// Opacity
// --------------------------------------------

$popupOpacity: 0.9;