{% extends "base.twig" %}
{% block content %}
{% if billboards %}
<div class="portfolio-top__wrapper">
	<div class="portfolio-top">
		{% for billboard in billboards | slice(0,1)  %}
			{% include 'mods/portfolio-tease--big.twig' %}
		{% endfor %}
		<div class="portfolio-tease-grid__wrapper">
			<div class="portfolio-tease-grid--two">
			{% for billboard in billboards | slice(1,2)  %}
				{% include 'mods/portfolio-tease--small.twig' %}
			{% endfor %}
			</div>
		</div>
		{% for billboard in billboards | slice(3,1)  %}
			{% include 'mods/portfolio-tease--big.twig' %}
		{% endfor %}
		<div class="portfolio-tease-grid__wrapper">
			<div class="portfolio-tease-grid--two">
			{% for billboard in billboards | slice(4,4)  %}
				{% include 'mods/portfolio-tease--small.twig' %}
			{% endfor %}
			</div>
		</div>
	</div><!-- wrapper -->
		{% include 'mods/cta-hire-us.twig' %}
</div><!-- inset -->
{% endif %}


<section id="archive-clients" class="inset">
	<div class="wrapper">
		<h2 class="section-h">Clients</h2>
		<ul class="archive-clients-list">
			{% for client in clients %}
				<li>
				{% if client.path %}
					<a href="{{client.path}}">{{client.client_name}}</a>
				{% else %}
					<span>{{client.client_name}}</span>
				{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
{% endblock %}
