{% extends "base.twig" %}
{% block content %}
{% if billboards %}
<div class="portfolio-wrapper">
	<div class="portfolio-topperMod">
		{% for billboard in billboards | slice(0,1)  %}
			{% include 'mods/portfolio-tease--big.twig' %}
		{% endfor %}
		<div class="portfolio-smallTeaseGrid">
		{% for billboard in billboards | slice(1,2)  %}
			{% include 'mods/portfolio-tease--small.twig' %}
		{% endfor %}
		</div>
		{% for billboard in billboards | slice(3,1)  %}
			{% include 'mods/portfolio-tease--big.twig' %}
		{% endfor %}
		<div class="portfolio-smallTeaseGrid">
		{% for billboard in billboards | slice(4,2)  %}
			{% include 'mods/portfolio-tease--small.twig' %}
		{% endfor %}
		</div>


	</div><!-- wrapper -->
</div><!-- inset -->
{% endif %}


<div class="wrapper">
	<section id="archive-tiles">
		{% for tile in tiles %}
			{% if tile.thumbnail.src %}
				{% include 'mods/tile.twig' %}
			{% endif %}
		{% endfor %}
	</section>
</div>

<section id="archive-clients" class="inset">
	<div class="wrapper">
		<h2 class="section-h">Clients</h2>
		<ul class="archive-clients-list">
			{% for client in clients %}
				<li>
				{% if client.path %}
					<a href="{{client.path}}">{{client.client_name}}</a>
				{% else %}
					<span>{{client.client_name}}</span>
				{% endif %}
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
{% endblock %}
