{% extends 'base.twig' %}
{% block head %}
	<link rel="stylesheet" href="{{site.theme.link}}/css/custom/labs/labs.css">


{% endblock %}
{% block content %}


<div class="page-topper">
	<div class="wrapper">

		<div class="h1">{{post.title}}</div>
		<div class="h3">Upstatement is looking for talented designers and developers to take part in our apprenticeship program. You’ll work on big client projects, solve interesting problems, and — of course — make good money.</div>
	</div><!-- page-wrapper -->
</div><!-- page-topper -->

	<div class="page-body light">
		<div class="center-txt">

			{{post.content}}
		</div><!-- center-txt -->

	</div>

{% endblock %}
