
.page-template-default {
	.page-topper {
		background-color:black(90);
		background-image:none;
		padding:60px 0 30px 0;
		.wrapper {
			max-width:1045px;
			margin:0 auto;
			text-align: left;
		}
	}
	.page-body {
		@media (min-width:1000px){
			background-color:black(88);
		}
		&.light {
			background-color: #fff;
			@media (min-width:1000px){
				background-color: #f1f1f1;
			}
		}
	}

}

/* gravity forms */

.center-txt .gform_wrapper {
	@media (min-width: 700px){
		padding:0px 50px;
	}
	.gform_title {
		display: none;
	}

	.gsection {
		margin-top: 90px;
		border-bottom: 1px solid #ccc;
	}

	.gfield {
		margin-bottom:25px;
	}

	.gform_button {
		@include input-default;
		padding: 10px 40px !important;
		font-size: em(16) !important;
		margin: auto;
		display: block;
	}

	.gfield_label {
		@extend .text-l;
		font: em(16)/130% $proxima;
		font-weight: 500 !important;
		@include mq(700px) {
			font-size: em(20);
		}
	}

	.gsection_title {
		@extend .section-h2;
		font: 500 em(24)/120% $proxima;
		@include mq(700px) {
			font-size: em(37);
		}
	}

	.ginput_container .textarea {
		@extend .text-l;
		padding:20px;
		font: em(16)/120% $adelle;
		border:1px solid black(20);
	}
	.ginput_container .large {
		font-family: $proxima;
	}

	.ginput_container input {
		width:100%;
		display:block;
		font-size:24px;
		padding:40px;
		border:1px solid black(20);
		padding:20px;
	}

	.gfield_description {
		font: 500 em(14) $proxima;
	}


	.gfield_select {
		max-width: 320px;
		width: 100% !important;

	}

	input[type="submit"] {
		@extend %btn-large;
	}
}
