
.page-template-default {
	.page-topper {
		background-color:black(90);
		background-image:none;
		padding:60px 0 30px 0;
		.wrapper {
			max-width:1045px;
			margin:0 auto;
			text-align: left;
		}
	}
	.page-body {
		@media (min-width:1000px){
			background-color:black(88);
		}
	}
	
}

/* gravity forms */

.center-txt .gform_wrapper {
	@media (min-width: 700px){
		padding:0px 50px;
	}
	.gfield {
		margin-bottom:25px;
	}

	.gform_button {
		border: 1px solid #CCC;
		padding: 10px 40px;
		font-size: 2em;
		margin: auto;
		display: block;
	}

	.gfield_label {
		@extend .text-l;
		font: 20px/120% $proxima;
	}

	.gsection_title {
		@extend .section-h2;
		font:bold 28px/120% $proxima;
	}

	.ginput_container .textarea {
		@extend .text-l;
		padding:20px;
		font: 16px/120% $serif;
		border:1px solid black(20);
	}

	.ginput_container input {
		width:100%;
		display:block;
		font-size:24px;
		padding:40px;
		border:1px solid black(20);
		padding:20px;
	}

	input[type="submit"] {
		@extend %btn-large;
	}
}