
/* ============================================= */
/*	Single Portfolio				   			 */
/* ============================================= */

.portfolio-overline-mod {
	text-align: center;
	@include pie-clearfix;
	margin-bottom: 40px;
}

.portfolio-overline {
	display: inline-block;
	font: 600 19px/140% $proxima;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #333;
	border-bottom: 1px solid #ccc;
	text-align: center;
	padding: 0px 10px 8px 10px;
	margin: auto;
}

.portfolio-desc-h {
	text-align: center;
}


// Portfolio Banner

.portfolio-banner {
	position: relative;
	margin-top: -20px;
	height: 0;
	padding-bottom: 45.5%;
	overflow: hidden;
	@media (min-width: 900px) {
		margin-top: -30px;
	}

	// Mask to create the circle effect
	&:after {
		@include content;
		width: 100%;
		height: 0;
		padding-bottom: 5.5%;
		background: url(../images/dev/covers/round-mask.png) 50% 0% no-repeat;
		background-size: 110%;
		@include absolute(n n -2px n);
	}

}

.portfolio-banner-img {
	@include absolute(0 0 n 0);
	width: 100%;
	// margin-left: -8.5%;
}

// Portfolio Dropcap
.portfolio-content .site-width:first-child .portfolio-desc:first-letter {
	//@extend .dropcap;
}

.portfolio-h-outer {
	position: relative;
	margin: 0;
	padding: 5px;
	text-align: center;
	// @include rgba-bg(black, .6);
	color: #fff;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	@media (min-width: 500px) {
		max-width: 250px;
	}
	// @media (min-width: 400px) {
	// 	// reset negative margin
	// 	margin-left: auto;
	// 	margin-right: auto;
	// 	// effectively increases border size
	// 	padding: 8px;
	// }

	.billboard-on & {
		margin-top: -20%;
	}
}

.portfolio-h-inner {
	padding: 18px 18px 5px;
	@include rgba-bg(black, .9);
	@media (min-width: 500px) {
		padding: 25px 25px 0;
	}
}

// Triangle shapes for the Portfolio Headline

$triangle-height: 50px;

.triangles {
	overflow: auto;
}

.triangle__item {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 0;
	position: relative;
}

.triangle__item--down {
	padding-left: 50%;
	padding-top: 50%;
	&:after {
		content: "";
		display: block;
		width: 0;
		height: 0;
		margin-left: -500px;
		margin-top: -305px;
		border-left: 500px inset transparent;
		border-right: 500px inset transparent;
		border-top: 260px solid rgba(0,0,0,0.9);
	}
}

.triangle__item--right {
	padding-left: 0;
	padding-top: 12%;
	width: 50%;
	float: right;
	&:after {
		content: "";
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		margin-top: -$triangle-height;
		border-width: 0 0 $triangle-height 210px;
		border-color: transparent transparent rgba(0,0,0,0.9) transparent;
		-moz-transform: scale(.9999);
	}
}

.triangle__item--left {
	padding-left: 0;
	padding-bottom: 12%;
	width: 50%;
	float: left;
	&:after {
		content: "";
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: $triangle-height 0 0 210px;
		border-color: transparent transparent transparent rgba(0,0,0,0.9);
		-moz-transform: scale(.9999);
	}
}

.portfolio-kicker {
	color: #FFFFFF;
	position: relative;
	padding-bottom: 12px;
	margin-bottom: 21px;
	// Matches portfolio-h1
	@media (max-width: 499px) {
		font-size: 12px;
	}
	&:after {
		@include content;
		height: 0;
		width: 70%	;
		margin: auto;
		border-top: 1px solid #aaa;
		@include absolute(n 0 0 0);
	}
}

.portfolio-intro {
	p {
		font-size:21px;
		font-style:italic;
		font-family:$adelle;
		line-height:30px;
		color:lighten(black, 35);
	}
}

.portfolio-include {
	// margin-bottom:20px;
	// padding-top:20px;
}

.portfolio-h1 {
	font-size: 18px;
	// Matches portfolio-kicker
	@media (min-width: 500px) {
		font-size: 22px;
	}
	> a {
		border-bottom: 1px solid rgba(255,255,255,0);
		@include trans(.2s, border-color);
	}
	> a:hover {
		cursor: pointer;
		border-color: rgba(255,255,255,.2);
	}

}

.portfolio-meta {
	font: 300 17px $proxima;
	color: #333;
	a {
		color: $highlight;
	}
}


.archive {
	.ftr {
		margin-top: 0;
	}
}

#archive-clients {
	border-bottom: 0;
	padding-bottom: 80px;
}

.archive-clients-list {
	font: 500 14px $proxima;
	margin-bottom: 40px;

	li {
		color: #666;
		display: block;
		margin-bottom: 12px;
	}

	li a {
		color: #ccc;
		&:hover {
			color: $highlight;
		}
	}

	@media (max-width: 749px) {
		@include column-count(2);
	}

	@media(min-width: 750px){
		@include column-count(4);
	}
}


/* ============================================= */
/*	Portfolio Detail 			 				 */
/* ============================================= */

// these are styles for how to display groups of images.

.video-mod {
	@include video;
	margin-bottom:20px;
	&.ratio-tv {
		@include video(tv);
	}
}

.portfolio-layouts {
	img.viz-resp {
		display:none;
	}
	img.viz-mobile {
		@media (max-width:599px){
			display: inline;
		}
	}
	img.viz-tablet {
		@media (min-width:600px) and (max-width:899px){
			display: inline;
		}
	}
	img.viz-desktop {

		@media (min-width:900px){
			display: inline;
		}
	}

}
.portfolio-layouts {

	@include pie-clearfix;

	.portfolio-image-set {
		margin: auto;
		max-width: 1050px;
		text-align: center;
		> img {
			margin: 0 0 50px 0;
		}
		@media (min-width:900px){
			&+.portfolio-image-set {
				> img {
					margin-top:-50px;
				}
			}
		}
	}


	@media (max-width: 899px){
		.image-count-1, .image-count-2, .image-count-3 {
			img {
				max-width: 100%;
				float: left;
			}
		}

		.image-count-1 {
			img {
			float: none;
			}//img
		}//image-count-1
	}//mq

	@media (min-width: 900px){
		.image-count-1 {
			margin: 20px auto;

			img{
				max-width: 100%;
				height: auto;
				float: none;
			}
		}

		.image-count-2 {
			margin: 20px auto;
			@include pie-clearfix;

			img {
				width: 50%;
				float: left;
			}
		}

		.image-count-3 {
			margin: 20px auto;
			@include pie-clearfix;

			img {
				width: 33%;
				float: left;
			}
		}
	}//media > 900

	.full-width {
		max-width: none;
	}

	.flex-width {
		img {
			max-width: 100%;
		}//img
	}//flex-width

	img[data-original="/wp-content/uploads/2013/09/share-tools-movie-grey-bg.gif"] {
		width: auto;
	}//img data-orig

} //portfolio-layouts

.portfolio-desc {
	color: #000;
	clear: both;
	margin-bottom: 30px;
}

.portfolio-desc-txt {
	color: #333;
}

.portfolio-color-splash {
	background-color: #eef0f0;
	padding: 75px 0px 55px 0px;
	margin-bottom: 75px;
}

//
// Global News Portfolio
//

.gn-laptops {
	margin: 60px 0 80px;
}

.gn-feed-item {
	position: relative;
	.pin-bubble {
		@media (min-width: 768px) {
			top: 20px;
			&.right {
				right: -120px;
			}
			&.left {
				left: -133px;
			}
		}
	}
}

.gn-feed-item-comment {
	.pin-bubble {
		top: 165px;
	}
}

.gn-feed {
	margin-top: 60px;
}

.img-swap {
	display: none;

	@media (min-width: 760px) {
		display: block;
	}//mq
}

.mobile-img-swap {
	display: block;

	@media (min-width: 760px) {
		display: none;
	}//mq
}
