{% extends "pm-home/single-project.twig" %}
{% block content %}
	<div class="password-page-mod pmHome-password-box">
		<form class="password-form" action="/wp-login.php?action=postpass" method="post">
      <h3 class="password-h">You must login to&nbsp;view&nbsp;this&nbsp;page</h3>
      <div class="password-input-mod">
      	<label class="password-label" for="pwbox-{{post.ID}}">Password:</label>
      	<input class="password-box" name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="Password" size="20" maxlength="20" />
      	<input class="password-btn" type="submit" name="Submit" value="→" />
      </div> <!-- /password-input-mod -->

      <p class="password-hint">Hint: He's your namesake</p>

   	</form>
	</div>	<!-- /search-page-mod -->
{% endblock %}
