<li class="pmHome-link-item">
	{% block content %}
	<a class="pmHome-link-item-link" href="{{item.url}}" target="_blank">
		<div class="pmHome-link-item-logo pmHome-link-item-logo--{{item.service}}"></div>
		{% if item.date %}
			<p class="pmHome-link-item-date">{{item.date|date('M j, Y')}}</p>
		{% endif %}
		<h5 class="pmHome-link-item-title">{{item.description | default(item.url)}}</h5>
	</a>
	{% endblock %}
</li>
