<div class="hlr-video-footnote-mod site-width">

	<div class="hlr-video-mod">
		<img class="hlr-video hlr-video-poster hlr-poster-footnote hlr_footnote" src="{{theme.path}}/images/portfolio/hlr/video-footnote-cover.jpg" />
	</div> {# /hlr-video-mod #}

</div> {# /hlr-video-overview #}