<div class="hlr-video-footnote-mod site-width">

	<div class="hlr-video-mod">
		<video class="hlr-video hlr-video-footnote" preload="auto" loop  poster="{{theme.path}}/images/portfolio/hlr/video-footnote-cover.jpg">
			 <source class="video-mp4" src="{{theme.path}}/images/portfolio/hlr/video/footnote.iphone4.mp4" type="video/mp4; codecs=avc1.42E01E,mp4a.40.2" />
			 <source class="video-webm" src="{{theme.path}}/images/portfolio/hlr/video/footnote.webmhd.webm" type="video/webm; codecs=vp8,vorbis" />
			 <source class="video-ogg" src="{{theme.path}}/images/portfolio/hlr/video/footnote.ogv" type="video/ogg; codecs=theora,vorbis" />
		</video>
	</div> {# /hlr-video-mod #}

</div> {# /hlr-video-overview #}