<section class="hlr-type-wallpaper-mod full-width">

	<figcaption class="txt-width">
		<p class="hlr-type-wallpaper-caption">Type in use on the final site</p>
		<span class="hlr-type-wallpaper-arrow">&#9660;</p>
	</figcaption>

	<figure class="hlr-type-wallpaper-fig">
		<img class="hlr-type-wallpaper" src="{{theme.path}}/images/portfolio/hlr/type-sample.jpg">
	</figure>

</section> {# /hlr-bg-slider #}
