<div class="hlr-video-article-mod site-width">

	<div class="hlr-video-mod">
		<img class="hlr-video hlr-video-poster hlr-poster-article hlr_article" src="{{theme.path}}/images/portfolio/hlr/video-article-cover.jpg" />

	</div> {# /hlr-video-mod #}

</div> {# /hlr-video-overview #}