<section class="hlr-bg-slider site-width hlr-bg-paused">
	<article class="hlr-bg-imgs">
		<img class="hlr-bg-img hlr-bg-img-1" src="{{theme.path}}/images/portfolio/hlr/hlr-bg/_small/bg-1-small.jpg" data-bg-path="{{theme.path}}/images/portfolio/hlr/hlr-bg/_small/">
	</article> {# /hlr-bg-imgs #}

	<article class="hlr-bg-controls">
		<div class="hlr-bg-btn">
			<div class="hlr-bg-btn-play"></div>
			<div class="hlr-bg-btn-pause"></div>
		</div> {# hlr-bg-btn #}
		<div class="hlr-bg-timeline">
			<div class="hlr-bg-scrubber"></div>
		</div> {# hlr-bg-timeline #}
	</article> {# hlr-bg-controls #}

</section> {# /hlr-bg-slider #}
