<div id='math-module'>
  <div class="bottom-line"></div>
  <div id='math-wrapper'>
    <div class='number-block'>
        <div class='arrow-border-left rh__js--scroll-item'></div>
        <div class='big-number'>12</div>
        <div class='number-label-right'>Unique layout configurations</div>
        <div class="bg-element">
          <img class='bg-img img-1 rh__js--scroll-item' src="{{theme.path}}/images/portfolio/rh-bookmark/bg-img-layout.gif" />
        </div>
    </div>
    <div class='number-block'>
        <div class='arrow-border-right rh__js--scroll-item'></div>
        <div class='big-number'>16</div>
        <div class='number-label-left'>Combinations of navigation options</div>
    </div>
    <div class='number-block'>
        <div class='arrow-border-left rh__js--scroll-item'></div>
        <div class='big-number'>15</div>
        <div class='number-label-right'>Typographic combinations</div>
        <div class='bg-element-type rh__js--scroll-item'>
          {% include 'views/custom/rh-bookmark--bg-type.svg' %}
        </div>
    </div>
    <div class='number-block'>
        <div class='arrow-border-right rh__js--scroll-item'></div>
        <div class='big-number'>11</div>
        <div class='number-label-left'>Custom designed top&nbsp;-&nbsp;of&nbsp;-&nbsp;page promo&nbsp;treatments</div>
    </div>
    <div class='number-block'>
        <div class='arrow-border-left rh__js--scroll-item'></div>
        <div class='bg-img img-color rh__js--scroll-item'></div>
        <div class='big-number'>16</div>
        <div class='number-label-right'>Color palettes</div>
    </div>
    <div class='number-block-wrapper'>
      <div class='number-block' id="block-bg-texture">
          <div class='arrow-border-right rh__js--scroll-item' id="arrow-bg-texture"></div>
          <div class='big-number'>27</div>
          <div class='number-label-left'>Background textures</div>
      </div>
      <div class="number-aside rh__js--scroll-item">
        {% include 'views/custom/rh-bookmark--number-aside.svg' %}
      </div>
        <div class='bg-element'>
            <div class='bg-img-wide rh__js--scroll-item'></div>
        </div>
    </div>
  </div> 
  <div class="bottom-line"></div>
  <div class="number-total-wrapper">
    {% include 'views/custom/rh-bookmark--result.svg' %}
{#     <div id="number-total">27,371,520</div>
    <div id="number-total-label">possible unique permutations</div> #}
  </div>
</div> 
