<div class="site-width thr__pad--bottom-med thr__js--scroll-item">
	<div id="rh__part-one" class="badge-a">
			<div class="triangles triangles--badge-a">
				<div class="triangle__item triangle__item--badge-a--left triangle__item--left"></div>
					<div class="triangle__item triangle__item--badge-a--right triangle__item--right"></div>
			</div>
			<div class="badge-a__content">
				<div class="badge-a--hidden">
					<h3 class="h4 badge-a__h-sub badge-a__h-sub--js">Part</h3>
				</div>
				<div class="badge-a__divider badge-a__divider--js"></div>
				<div class="badge-a--hidden">
					<h1 class="badge-a__h badge-a__h--js">1</h1>
				</div>
			</div>
			<div class="triangle__item triangle__item--badge-a--down triangle__item--down"></div>
	</div>

	<h1 class="rh__h rh__h--lg">A Versatile System</h1>
	<h2 class="thr__sub-h">Mixing and matching for millions of combinations</h2>
	<div class="portfolio-desc txt-width txt-width--thr">
		<img class="rh-img__txt-width" src="{{theme.path}}/images/portfolio/rh-bookmark/blocks.png" />
		<div class="txt-lg portfolio-desc-txt thr__text">
			<p>We didn’t just design a few templates; using atomic design we designed millions of permutations (27,371,520 to be exact) that allow Random House to spin-up a site in no time. Each design is unique, with custom colors, layouts, and content. We had to consider tons of possibilities: How many titles does the author have? Do they write mysteries? Romance? Children’s Books? Are we promoting the author or the title? Is the book written by multiple authors? Do they blog? Do they still write? Are they even alive?</p>
		</div>
	</div>
</div>

{% include 'views/custom/rh-bookmark--math-module.twig' %}

<div class="site-width thr__pad--horiz-med">
	<div class="txt-width txt-width--thr">
	<div class="thr__text-mod--center">
		<h4 class="thr__topic-h thr__topic-h--bdr">Customization</h4>
		<h3 class="rh__h rh__h--med">Design Systems, No&nbsp;Coding&nbsp;Required</h3>
	</div>
		<div class="txt-lg portfolio-desc-txt thr__text">
			<p>We built a large library of parts that could go into the design. Each component of the site has a number of different options, from the navigation to the layout.  It used to take weeks for Random House to create a site. Now the technical process takes minutes. We used the WordPress customizer to make it simple for a marketer to create a fresh website for their book title or author. Try it for yourself!</p>
		</div>
	</div>
</div>

{% include 'views/custom/rh-bookmark--editor-module.twig' %}