<div class="site-width__rh-api" id="api-module">
{# 	{% include 'views/custom/rh-bookmark--api-knot.svg' %} #}
	{% include 'views/custom/rh-bookmark--api-graphic.svg' %}
	{% include 'views/custom/rh-bookmark--api-page-lines.svg' %}
	{% include 'views/custom/rh-bookmark--api-book-lines.svg' %}
	<div class="txt-lg portfolio-desc-txt thr__text thr__text--white" id="api-p-one">
		<p>By entering their author number, a user can pull relevant data from the Random House API, automatically populating their new website with their own content.</p>
	</div>
	<div id="page-boxes">
		<div class="page-box rh__js--scroll-item">Books</div>
		<div class="page-box rh__js--scroll-item">About</div>
		<div class="page-box rh__js--scroll-item">Press</div>
		<div class="page-box rh__js--scroll-item">Events</div>
	</div>
	<div id="book-boxes">
		<div class="book-box rh__js--scroll-item">Book</div>
		<div class="book-box rh__js--scroll-item">Book</div>
		<div class="book-box rh__js--scroll-item">Book</div>
		<div class="book-box rh__js--scroll-item">Book</div>
		<div class="book-box rh__js--scroll-item">Book</div>
		<div class="book-box rh__js--scroll-item">Book</div>
		<div class="book-box rh__js--scroll-item">Book</div>
		<div class="book-box rh__js--scroll-item">Book</div>
	</div>
{# 	<div id="downward-lines"></div> #}
	<div id="downward-lines-wrapper">
		{% include 'views/custom/rh-bookmark--api-downward-lines.svg' %}
	</div>
	<div class="txt-lg portfolio-desc-txt thr__text thr__text--white" id="api-p-two">
		<p>The sites give authors tons of options to make it their own. They can add events to promote their book tour, blog to keep in touch with readers, post videos from their appearance on “The Today Show”, and much more. </p>
	</div>
</div>