<div class="site-width">
	<div class="portfolio-desc">
		<h1 class="rh__h rh__title">A Home For Random House Authors</h1>
	</div>
	<h2 class="thr__sub-h">Actually, make that 27 million homes.</h2>
	<div class="portfolio-desc portfolio-p txt-width txt-width--thr">
		<div class="txt-lg portfolio-desc-txt thr__text">
			<p><span class="dropcap">R</span>andom House needed a better way to create websites for its authors and books. They print 15,000 new titles each year and launch sites on incredibly tight deadlines. Each of these authors need websites to promote themselves connect with fans. The previous system was to build a website from scratch. Sometimes in wordpress, sometimes in dreamweaver, sometimes in straight HTML or some proprietary system. Authors had to become savvy web design managers and work with freelancers to get what they want. </p>
		</div>
	</div>
	<div class="portfolio-desc txt-width txt-width--thr">
		<h4 class="thr__topic-h thr__topic-h--case-study">In This Case Study</h4>
		<nav class="thr__scroll-nav">
			<ol class="thr__nav-items">
				<li class="thr__nav-item"><a class="thr__nav-link" href="#rh__part-one"><span class="thr__txt-mod thr__txt-mod--green">A Versatile System</span> Over 27 million variations</a></li>
				<li class="thr__nav-item"><a class="thr__nav-link" href="#thr__part-two"><span class="thr__txt-mod thr__txt-mod--green">API integration</span> The real special sauce</a></li>
				<li class="thr__nav-item"><a class="thr__nav-link" href="#thr__part-four"><span class="thr__txt-mod thr__txt-mod--green">Results</span> One hundred individual sites and counting</a></li>
			</ol>
		</nav>
	</div>
</div>

