<div class="full-width">
	<div class="rh__bg rh__bg--gray rh__part-two">
		<div class="site-width thr__js--scroll-item">
			<div id="rh__part-two" class="badge-a badge-a--bite-in-top">
				<div class="triangles triangles--badge-a">
					<div class="triangle__item triangle__item--badge-a--left triangle__item--left"></div>
						<div class="triangle__item triangle__item--badge-a--right triangle__item--right"></div>
				</div>
				<div class="badge-a__content badge-a__content--no-bdr">
					<div class="badge-a--hidden">
						<h3 class="h4 badge-a__h-sub badge-a__h-sub--js">Part</h3>
					</div>
					<div class="badge-a__divider badge-a__divider--js"></div>
					<div class="badge-a--hidden">
						<h1 class="badge-a__h badge-a__h--js">2</h1>
					</div>
				</div>
				<div class="triangle__item triangle__item--badge-a--down triangle__item--down"></div>
		</div>
		<div class="site-width__rh-api thr__pad--bottom-med thr__js--scroll-item">
			<h1 class="rh__h rh__h--lg rh__h--white rh__h-api">API Integration</h1>
			<h2 class="thr__sub-h thr__sub-h--white rh__sub-h-api">The Real Special Sauce</h2>
			<div class="portfolio-desc txt-width txt-width--thr">
				<div class="txt-lg portfolio-desc-txt thr__text thr__text--white" id="api-p-intro">
					<p>Each site isn’t built entirely by hand. Most of the pages are generated automatically using data from the Random House API. We pull data about the author and their books to populate each section. Users can buy books directly from the site and authors get the affiliate commission for making the sale.</p>
				</div>
			</div>
		</div>

{# 		{% include 'views/custom/rh-bookmark--api-module.twig' %} #}
		{% include 'views/custom/rh-bookmark--api-svg.twig' %}

	</div>
</div>