<div class="full-width thr__js--scroll-item">

	<div id="thr__part-four" class="badge-a badge-a--bite-down">
		<div class="triangles triangles--badge-a">
			<div class="triangle__item triangle__item--badge-a--left triangle__item--left"></div>
				<div class="triangle__item triangle__item--badge-a--right triangle__item--right"></div>
		</div>
		<div class="badge-a__content badge-a__content--no-bdr">
			<div class="badge-a--hidden">
				<h3 class="h4 badge-a__h-sub badge-a__h-sub--js">Part</h3>
			</div>
			<div class="badge-a__divider badge-a__divider--js"></div>
			<div class="badge-a--hidden">
				<h1 class="badge-a__h badge-a__h--js">3</h1>
			</div>	
		</div>
		<div class="triangle__item triangle__item--badge-a--down triangle__item--down"></div>
	</div>
	
	<div class="thr__bg thr__bg--light-gray thr__pad--bite-in">
		
		<div class="site-width">
				<h1 class="thr__h thr__h--lg">Smart<br>Stream</h1>
			<h2 class="thr__sub-h">Making complex pages easy to manage</h2>
			<div class="portfolio-desc txt-width txt-width--thr">
				<div class="txt-lg portfolio-desc-txt thr__text">
					<p>Friendly, approachable sans serif. But still serious enough for the news. Klim’s <strong>National</strong> struck precisely the right balance. Wanted to pair it with a chunky, bold serif. Something that could hold its own against our fat sans serif. We actually tried to avoid.</p>
				</div>
			</div>
		</div>

		<div class="thr__l--wide thr__pad--top-left">
			
				<div class="thr__special-report thr-xray-item thr-xray-item--center">
					
					<div class="thr__tag">
						<h4 class="thr__tag-h">Special Report Page</h4>
						<div class="thr__tag-icon">
							<div class="thr__scale-svg-container thr__svg-pad--badge-icon">
								<div class="thr__scale-svg">
									<svg class="thr__icon--badge" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 45.4"><path d="M30.5.8l-14.9 9.5L.5.8v26.6L16 44.5l14.5-17.1"></path></svg>
								</div>
							</div>
						</div>
					</div>

					<div class="thr-popup">
						<div class="thr-popup-content">
							<div class="thr-icon"><img class="thr-icon-img" src="{{theme.path}}/images/portfolio/hechinger/icons/mountains.svg"></div>
							<div class="thr-popup-text">Good art can be hard to come by. That can be a problem for news magazine. Wanted show off one big story per day. Used big type from Klim.</div>
						</div>
					</div>
					<div class="thr__tablet thr__tablet--shadow">
						<div class="thr__tablet-camera"></div>
						<div class="thr__tablet-screen">
							<div class="thr__screen-pad">
								<div class="thr__screen-content">
									<picture>
										<!--[if IE 9]><video style="display: none;"><![endif]-->
										<source srcset="/wp-content/themes/blades/images/portfolio/hechinger/hechinger-topper-mississippi-1025.jpg" media="(min-width: 1000px)">
										<source srcset="{{'/wp-content/themes/blades/images/portfolio/hechinger/hechinger-topper-mississippi-1025.jpg'| resize(1000)}}" media="(min-width: 600px)">
										<!--[if IE 9]></video><![endif]-->
										<img class="thr__img" srcset="{{'/wp-content/themes/blades/images/portfolio/hechinger/hechinger-topper-mississippi-1025.jpg'| resize(600)}}">
									</picture>
								</div>
							</div>
						</div>
						<div class="thr__tablet-home"></div>
					</div>
				</div>
			</div>
	</div>

	<div class="site-width thr__pad--horiz-med thr__js--video-toggle">
		<div class="txt-width txt-width--thr">
			<div class="thr__text-mod--center">
				<h4 class="thr__topic-h thr__topic-h--bdr">Content Management</h4>
				<h3 class="thr__h thr__h--med">Finally, a Drag &amp; Drop Interface 
to Manage Complex Pages</h3>
			</div>
			<div class="txt-lg portfolio-desc-txt thr__text">
				<p>Final brand guideline book. Our palms got a sweaty and our hearts raced at the thought of the classic pale blue exam booklet. But once we got over that, we saw something inspiring in the</p>
			</div>
		</div>
		<div class="thr__video_stream">
			<img class="thr__img" src="{{theme.path}}/images/portfolio/hechinger/hechinger-video-overview-cover.jpg">
		</div>
	</div>

</div>