<section class="thr-xray full-width">
	<div class="thr-xray-content">

		<div class="thr-xray-item" data-view-interval="2">
			<div class="thr-popup">
			<!--  -->
				<p class="thr-popup-content">Good art can be hard to come by. That can be a problem for news magazine. Wanted show off one big story per day. Used big type from Klim.</p>
			</div>
			<div class="thr-img-container">
				<img class="thr-section-img" src="{{theme.path}}/images/portfolio/hechinger/hechinger-home-header.jpg">
			</div>
		</div><!-- /thr-xray-item -->
		<div class="thr-xray-item" data-view-interval="1.5">
			<div class="thr-popup">
				<p class="thr-popup-content">Beats. Topics. Coverage areas. We found that readers didn’t understand what mattered to Hechinger and what they covered. So we made topics front-and-center.</p>
			</div>
			<div class="thr-img-container">
				<div class="thr-zone">
					<img src="{{theme.path}}/images/portfolio/hechinger/hechinger-home-boxes.jpg">
				</div>
				<img class="thr-section-img" src="{{theme.path}}/images/portfolio/hechinger/hechinger-home-boxes-bg.jpg">
			</div>
		</div><!-- /thr-xray-item -->
		<div class="thr-xray-item" data-view-interval="2">
			<div class="thr-popup">
				<p class="thr-popup-content">Numbers matter. Data underlies all the reporting. Wanted to create an entry point to the story that drew on their excellent reporting.</p>
			</div>
			<div class="thr-img-container">
				<div class="thr-stats">
					0
				</div>
				<img class="thr-section-img" src="{{theme.path}}/images/portfolio/hechinger/hechinger-special-stats.jpg">
			</div>
		</div><!-- /thr-xray-item -->

	</div><!-- /thr-xray-content -->
</section><!-- /thr-xray -->