<section class="thr-xray full-width">
	<div class="thr-xray-content">
		<div class="thr-xray-item">
			<div class="thr-popup">
				<p class="thr-popup-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium cupiditate ullam quasi atque alias odit enim et cum dolore sapiente vitae, eaque dicta accusamus illum repudiandae iure aut, perspiciatis inventore.</p>
			</div>
			<div class="thr-img-container">
				<img class="thr-section-img" src="{{theme.path}}/images/portfolio/hechinger/hechinger-home-header.jpg">
			</div>
		</div>
		<div class="thr-xray-item">
			<div class="thr-popup">
				<p class="thr-popup-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium cupiditate ullam quasi atque alias odit enim et cum dolore sapiente vitae, eaque dicta accusamus illum repudiandae iure aut, perspiciatis inventore.</p>
			</div>
			<div class="thr-img-container">
				<div class="thr-zone">
					<img src="{{theme.path}}/images/portfolio/hechinger/hechinger-home-boxes.jpg">
				</div>
				<img class="thr-section-img" src="{{theme.path}}/images/portfolio/hechinger/hechinger-home-boxes-bg.jpg">
			</div>
		</div>
	</div><!-- /thr-xray-content -->
</section><!-- /thr-xray -->