<div class="site-width">
	<div class="portfolio-desc txt-width txt-width--thr">
		<h1 class="thr__h">An Identity that Speaks for Itself</h1>
	</div>
	<h2 class="thr__sub-h">How we helped the country’s premiere education magazine explain who they are &mdash; with a little inspiration from an unlikely subject</h2>
	<div class="portfolio-desc txt-width txt-width--thr">
		<div class="txt-lg portfolio-desc-txt thr__text">
			<p><span class="dropcap">T</span>he Hechinger Report is the premier news magazine covering education in America. Headquartered at the Teacher’s College of Columbia University, their mission is to cover inequality and innovation in the American educational system. That coverage highlights what is and isn’t working in the classroom. Coverage is broad, yet deep, examining topics such as common core, the cost of higher education and the rise of charter schools. <br><br>The staff believes education is one of the central issues facing society. That dedication of purpose rubbed of on our project team, as we set to help Hechinger re-imagine their website.</p>
		</div>
	</div>
	<div class="portfolio-desc txt-width txt-width--thr">
		<h4 class="thr__topic-h">In This Case Study</h4>
		<nav class="thr__scroll-nav">
			<ol class="thr__nav-items">
				<li class="thr__nav-item"><a class="thr__nav-link" href="#thr__part-one"><span class="thr__txt-mod thr__txt-mod--blue">Site Design</span> Making a brand statement on the homepage</a></li>
				<li class="thr__nav-item"><a class="thr__nav-link" href="#thr__part-two"><span class="thr__txt-mod thr__txt-mod--blue">Branding</span> Finding inspiration in an unlikely place</a></li>
				<li class="thr__nav-item"><a class="thr__nav-link" href="#thr__part-three"><span class="thr__txt-mod thr__txt-mod--blue">Smart Stream</span> Making complex pages easy to manage</a></li>
				<li class="thr__nav-item"><a class="thr__nav-link" href="#thr__part-four"><span class="thr__txt-mod thr__txt-mod--blue">Results</span> What happened to traffic &amp; name recognition?</a></li>
			</ol>
		</nav>
	</div>
</div>

<div class="full-width thr__js--toggle-scroll">
	<div class="thr__bg thr__bg--blue thr__bg--hidden thr__pad--horiz">
		<div class="site-width">
			<div class="thr__browser">
				<div class="thr__browser-chrome">
					<img class="thr__img" src="{{theme.path}}/images/portfolio/hechinger/browser-chrome.png">
				</div>
				<video id="thr__video" preload="auto" loop="loop" poster="/wp-content/themes/blades/images/portfolio/hechinger/hechinger-video-overview-cover.jpg"><source class="video-mp4" type="video/mp4; codecs=avc1.42E01E,mp4a.40.2" src="/wp-content/themes/blades/images/portfolio/hechinger/video/hechinger-overview.mp4"><source class="video-ogg" type="video/ogg; codecs=theora,vorbis" src="/wp-content/themes/blades/images/portfolio/hechinger/video/hechinger-overview.ogv"><source class="video-webm" type="video/webm; codecs=vp8,vorbis" src="/wp-content/themes/blades/images/portfolio/hechinger/video/hechinger-overview.webm"></video>
				<div class="thr__browser-shadow"></div>
			</div>
		</div>
	</div>
</div>