<div class="site-width">
	<div class="portfolio-desc txt-width txt-width--thr">
		<h1 class="thr__h">An Identity that Speaks for Itself</h1>
	</div>
	<h2 class="thr__sub-h">How we helped the country’s premiere education magazine explain who they are &mdash; with a little inspiration from an unlikely subject</h2>
	<div class="portfolio-desc txt-width txt-width--thr">
		<div class="txt-lg portfolio-desc-txt thr__text">
			<p><span class="dropcap">T</span>he Hechinger Report is the premier news magazine covering education in America. Headquartered at the Teacher’s College of Columbia University, their mission is to cover inequality and innovation in the American educational system. That coverage highlights what is and isn’t working in the classroom. Coverage is broad, yet deep, examining topics such as common core, the cost of higher education and the rise of charter schools. <br><br>The staff believes education is one of the central issues facing society. That dedication of purpose rubbed of on our project team, as we set to help Hechinger re-imagine their website.</p>
		</div>
	</div>
	<div class="portfolio-desc txt-width txt-width--thr">
		<h4 class="thr__topic-h">In This Case Study</h4>
		<nav class="thr__scroll-nav">
			<ul class="thr__nav-items">
				<li class="thr__nav-item"><a class="thr__nav-link" href="">Site Design</a> Making a brand statement on the homepage</li>
				<li class="thr__nav-item"><a class="thr__nav-link" href="">Branding</a> Finding inspiration in an unlikely place</li>
				<li class="thr__nav-item"><a class="thr__nav-link" href="">Smart Stream</a> Making complex pages easy to manage</li>
				<li class="thr__nav-item"><a class="thr__nav-link" href="">Results</a> What happened to traffic &amp; name recognition?</li>
			</ul>
		</nav>
	</div>
</div>

<div class="full-width">
	{# Placeholder img #}
	<img class="lazy viz-resp viz-mobile viz-tablet viz-desktop" data-original="http://build.blades.dev/wp-content/uploads/2015/03/HP-Chrome-Text-Top-blue.jpg" data-src="http://build.blades.dev/wp-content/uploads/2015/03/HP-Chrome-Text-Top-blue.jpg" src="http://build.blades.dev/wp-content/uploads/2015/03/HP-Chrome-Text-Top-blue.jpg" alt="" id="portfolio-img-5776" style="width: 100%;">
	{# /Placeholder img #}
</div>