<div class="site-width">
	<div class="portfolio-desc txt-width txt-width--thr">
		<h1 class="thr__h">An Identity that Speaks for Itself</h1>
	</div>
	<h2 class="thr__sub-h">How we helped the country’s premiere education magazine explain who they are &mdash; with a little inspiration from an unlikely subject</h2>
	<div class="portfolio-desc txt-width txt-width--thr">
		<div class="txt-lg portfolio-desc-txt thr__text">
			<p><span class="dropcap">F</span>ive years ago, The Hechinger Institute found itself at a pivotal juncture. Originally committed to training professional journalists, newsroom cutbacks forced the Institute to re-imagine itself. And, in the face of steep challenges, it did just that, morphing into a news organization (The Hechinger Report) dedicated to reporting on inequality and innovation in the American education system.</p>
			<p>When we arrived, Hechinger was thriving. It had established itself as the premier news magazine covering education, a peer to The Chronicle of Higher Education. Just one problem: They didn’t look like it. Although their stories routinely ran in The New York Times, The Atlantic, and NPR (to name a few), their own website looked like a blog. That’s where we came in.</p>
			<p>Upstatement set out to create a new identity and website that matched the quality of Hechinger’s journalism. We helped their small staff relaunch the website as a destination that would show (or, as their director puts it, exclaim) their mission. Six months after launch, we can proudly say it’s been quite a success.</p>
		</div>
	</div>
	<div class="portfolio-desc txt-width txt-width--thr">
		<h4 class="thr__topic-h">In This Case Study</h4>
		<nav class="thr__scroll-nav">
			<ol class="thr__nav-items">
				<li class="thr__nav-item"><a class="thr__nav-link" href="#thr__part-one"><span class="thr__txt-mod thr__txt-mod--blue">Site Design</span> Making a brand statement on the homepage</a></li>
				<li class="thr__nav-item"><a class="thr__nav-link" href="#thr__part-two"><span class="thr__txt-mod thr__txt-mod--blue">Branding</span> Finding inspiration in an unlikely place</a></li>
				<li class="thr__nav-item"><a class="thr__nav-link" href="#thr__part-three"><span class="thr__txt-mod thr__txt-mod--blue">Smart Stream</span> Making complex pages easy to manage</a></li>
				<li class="thr__nav-item"><a class="thr__nav-link" href="#thr__part-four"><span class="thr__txt-mod thr__txt-mod--blue">Results</span> What happened to traffic &amp; name recognition?</a></li>
			</ol>
		</nav>
	</div>
</div>

<div class="full-width thr__js--video-toggle">
	<div class="thr__bg thr__bg--blue thr__bg--hidden thr__pad--horiz">
		<div class="site-width">
			<div class="thr__browser">
				<div class="thr__browser-chrome">
					<img class="thr__img" src="{{theme.path}}/images/portfolio/hechinger/browser-chrome.png">
				</div>
				<div class="thr__video_overview">
					<img class="thr__img" src="{{theme.path}}/images/portfolio/hechinger/hechinger-video-overview-cover.jpg">
				</div>
				<!-- <video id="thr__video" preload="auto" poster="/wp-content/themes/blades/images/portfolio/hechinger/hechinger-video-overview-cover.jpg"><source class="video-mp4" type="video/mp4; codecs=avc1.42E01E,mp4a.40.2" src="/wp-content/themes/blades/images/portfolio/hechinger/video/hechinger-overview.mp4"><source class="video-ogg" type="video/ogg; codecs=theora,vorbis" src="/wp-content/themes/blades/images/portfolio/hechinger/video/hechinger-overview.ogv"><source class="video-webm" type="video/webm; codecs=vp8,vorbis" src="/wp-content/themes/blades/images/portfolio/hechinger/video/hechinger-overview.webm"></video> -->
				<div class="thr__browser-shadow"></div>
			</div>
		</div>
	</div>
</div>
