<div class="site-width">
	<div class="badge-a">
		<h3 class="h4 portfolio-kicker portfolio-kicker--thr badge-a__h-sub">Part</h3>
		<h1 class="badge-a__h">1</h1>	
	</div>
	<div class="portfolio-desc txt-width txt-width--thr">
		<h1 class="thr__h thr__h--lg">Site Design</h1>
	</div>
	<h2 class="thr__sub-h">Making a brand statement on the homepage</h2>
	<div class="portfolio-desc txt-width txt-width--thr">
		<div class="txt-lg portfolio-desc-txt thr__text">
			<p>Wanted to show people what Hechinger is all about. Their stories are deeply reported, chock full of shocking numbers that grab you by the shirt and make you want to read and others that help you understand the story.<br><br>It’s also all about people. But here we had a problem. They don’t have consistently strong photos. So how do we let them show a big photo when it matters but still support them in situations where there is no art?</p>
		</div>
	</div>
</div>