<div class="site-width">
	<div id="thr__part-one" class="badge-a">
		<div class="triangles triangles--badge-a">
			<div class="triangle__item triangle__item--badge-a--left triangle__item--left"></div>
				<div class="triangle__item triangle__item--badge-a--right triangle__item--right"></div>
		</div>
		<div class="badge-a__content">
			<h3 class="h4 portfolio-kicker portfolio-kicker--thr badge-a__h-sub">Part</h3>
			<h1 class="badge-a__h">1</h1>	
		</div>
		<div class="triangle__item triangle__item--badge-a--down triangle__item--down"></div>
	</div>
	
	<h1 class="thr__h thr__h--lg">Site Design</h1>
	<h2 class="thr__sub-h">Making a brand statement on the homepage</h2>
	<div class="portfolio-desc txt-width txt-width--thr">
		<div class="txt-lg portfolio-desc-txt thr__text">
			<p>Wanted to show people what Hechinger is all about. Their stories are deeply reported, chock full of shocking numbers that grab you by the shirt and make you want to read and others that help you understand the story.<br><br>It’s also all about people. But here we had a problem. They don’t have consistently strong photos. So how do we let them show a big photo when it matters but still support them in situations where there is no art?</p>
		</div>
	</div>
</div>

{% include 'views/custom/the-hechinger-report-xray-module.twig' %}

<div class="full-width">

	<div class="thr__bite-in thr__text-mod--center"> 
	<div class="site-width">
		<div class="portfolio-desc txt-width txt-width--thr">
			<h4 class="thr__topic-h thr__topic-h--bdr thr__topic-h--white">Designing Outside In</h4>
			<h3 class="thr__h thr__h--med thr__h--white">Robust Articles &amp; Special Reports</h3>
			<div class="txt-lg portfolio-desc-txt thr__text thr__text--white">
				<p>With the homepage established, we expanded the system (and the brand) to encompass all of Hechinger’s pages. We encountered particular challenges on the special project pages &hellip;</p>
				</div>
			</div>
		</div>

		<div class="thr__divider"><svg class="thr__icon--badge" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 31 45.4"><path d="M30.5.8l-14.9 9.5L.5.8v26.6L16 44.5l14.5-17.1"/></svg></div>
	</div>
</div>

<div class="full-width thr__l--hidden">
	<div class="thr__l thr__l--wide thr__pad--article">
		<img class="thr__img" src="{{theme.path}}/images/portfolio/hechinger/hechinger-article-grid.jpg">
		
		<div class="thr__offset thr__offset--bottom thr__offset--left thr__offset--tablet-lg">
			<div class="thr__tablet">
				<div class="thr__tablet-camera"></div>
				<div class="thr__tablet-screen">
					<img class="thr__img" src="{{theme.path}}/images/portfolio/hechinger/hechinger-article-tablet.jpg">
				</div>
				<div class="thr__tablet-home"></div>
			</div>
		</div>

		<div class="thr__offset thr__offset--bottom thr__offset--right thr__offset--tablet-med">
			<div class="thr__tablet thr__tablet--shadow">
				<div class="thr__tablet-camera"></div>
				<div class="thr__tablet-screen">
					<img class="thr__img" src="{{theme.path}}/images/portfolio/hechinger/hechinger-article-tablet.jpg">
				</div>
				<div class="thr__tablet-home"></div>
			</div>
		</div>

	</div>
</div>

<div class="full-width">
	<div class="thr__bg thr__bg--blue thr__pad--horiz">
		<div class="site-width">
			<div class="thr__quote-box"><p class="thr__quote-text">&ldquo;There is something fearless about the personality of this site. The impactful use of type and the striking yellow create an experience that is branded and distinct without sacrificing on readability and scannability of the articles.&rdquo;</p>
			<div class="thr__quote-by-line txt-lg">
				<p>From ‘The Intersect’<br>March 20, 2015</p>
			</div>
			</div>
		</div>
	</div>
</div>