<div class="full-width thr__js--scroll-item">

	<div id="thr__part-four" class="badge-a badge-a--bite-down">
		<div class="triangles triangles--badge-a">
			<div class="triangle__item triangle__item--badge-a--left triangle__item--left"></div>
				<div class="triangle__item triangle__item--badge-a--right triangle__item--right"></div>
		</div>
		<div class="badge-a__content badge-a__content--no-bdr">
			<div class="badge-a--hidden">
				<h3 class="h4 badge-a__h-sub badge-a__h-sub--js">Part</h3>
			</div>
			<div class="badge-a__divider badge-a__divider--js"></div>
			<div class="badge-a--hidden">
				<h1 class="badge-a__h badge-a__h--js">4</h1>
			</div>
		</div>
		<div class="triangle__item triangle__item--badge-a--down triangle__item--down"></div>
	</div>

	<div class="thr__bg thr__bg--yellow thr__pad--bite-in">
		<div class="site-width">
				<h1 class="thr__h thr__h--lg">Results</h1>
			<h2 class="thr__sub-h">Increased traffic and a happy&nbsp;client</h2>
			<div class="portfolio-desc txt-width txt-width--thr">
				<div class="txt-lg portfolio-desc-txt thr__text">
					<p>We couldn’t have asked for a more passionate, dedicated team than Sarah, Davin, Matt and the gang at Hechinger Report. We’re immensely proud of the work we did together. The project started with clear goals, and we accomplished each one.</p>
					<ol class="goals-list">
						<li class="goals-item"><p>Design a <strong>new identity</strong> that reflects Hechinger's distinct&nbsp;voice</p></li>
						<li class="goals-item"><p>Show people <strong>who you are</strong> and what&nbsp;you&nbsp;do</p></li>
						<li class="goals-item"><p>Help Hechinger to become a <strong>destination&nbsp;site</strong></p></li>
					</ol>
					<p>The third goal included some key performance metrics. We wanted the new design to encourage recirculation (the number of pages somebody visits after their initial page view) and to see an overall increase in traffic. In the end, we saw both go up &mdash; and by a substantial&nbsp;margin.</p>
				</div>
			</div>
			<div class="portfolio-desc txt-width txt-width--thr results-number-mod">
				<div class="thr__grid thr__l--rule">
					<div class="thr__grid-item">
						<h1 class="thr__h thr__h--lg results-number">13%</h1>
						<h2 class="thr__h thr__h--white thr__h--sm">Increase in page views</h2>
					</div>
					<div class="thr__grid-item">
						<h1 class="thr__h thr__h--lg results-number">2x</h1>
						<h2 class="thr__h thr__h--white thr__h--sm">Increase in Recirculation</h2>
					</div>
				</div>
				<blockquote class="thr__accolade">
					<p class="thr__accolade-item">&ldquo;Upstatement was attentive to our goals and did a great job of figuring out how to define what we do visually. We love love love the&nbsp;design.&rdquo;</p>
				</blockquote>
				<div class="thr__client">
					<div class="thr__client-img"><img class="thr__img" src="{{theme.path}}/images/portfolio/hechinger/hechinger-garland.jpg"></div>
					<div class="thr__client-desc txt-lg"><p><strong>Sarah Garland</strong> <br> Editor, The Hechinger Report</p></div>
				</div>
			</div>

		</div>
	</div>

	<picture>
		<!--[if IE 9]><video style="display: none;"><![endif]-->
		<source srcset="/wp-content/uploads/2015/01/phones_flat.jpg" media="(min-width: 1000px)">
		<source srcset="{{'/wp-content/uploads/2015/01/phones_flat.jpg'| resize(1000)}}" media="(min-width: 600px)">
		<!--[if IE 9]></video><![endif]-->
		<img class="thr__img" srcset="{{'/wp-content/uploads/2015/01/phones_flat.jpg'| resize(600)}}">
	</picture>

	<div class="site-width thr__pad--horiz-med">
	<h4 class="thr__topic-h">What We Did</h4>
		<ol class="thr__count-items">
			<li class="thr__count-item thr__count-item--topic">Research</li>
			<li class="thr__count-item thr__count-item--topic">Content Strategy</li>
			<li class="thr__count-item thr__count-item--topic">Design</li>
			<li class="thr__count-item thr__count-item--topic">Front-End Dev</li>
			<li class="thr__count-item thr__count-item--topic">CMS Development</li>
			<li class="thr__count-item thr__count-item--topic">Launch</li>
		</ol>
	</div>

</div>
