<div class="full-width thr__js--scroll-item">

	<div id="thr__part-four" class="badge-a badge-a--bite-down">
		<div class="triangles triangles--badge-a">
			<div class="triangle__item triangle__item--badge-a--left triangle__item--left"></div>
				<div class="triangle__item triangle__item--badge-a--right triangle__item--right"></div>
		</div>
		<div class="badge-a__content badge-a__content--no-bdr">
			<div class="badge-a--hidden">
				<h3 class="h4 badge-a__h-sub badge-a__h-sub--js">Part</h3>
			</div>
			<div class="badge-a__divider badge-a__divider--js"></div>
			<div class="badge-a--hidden">
				<h1 class="badge-a__h badge-a__h--js">4</h1>
			</div>	
		</div>
		<div class="triangle__item triangle__item--badge-a--down triangle__item--down"></div>
	</div>
	
	<div class="thr__bg thr__bg--yellow thr__pad--bite-in">
		<div class="site-width">
				<h1 class="thr__h thr__h--lg">Results</h1>
			<h2 class="thr__sub-h">Increased traffic and a happy client</h2>
			<div class="portfolio-desc txt-width txt-width--thr">
				<div class="txt-lg portfolio-desc-txt thr__text">
					<p>Friendly, approachable sans serif. But still serious enough for the news. Klim’s <strong>National</strong> struck precisely the right balance. Wanted to pair it with a chunky, bold serif. Something that could hold its own against our fat sans serif. We actually tried to avoid.</p>
				</div>
			</div>
			<div class="portfolio-desc txt-width txt-width--thr">
				<div class="thr__grid thr__l--rule">
					<div class="thr__grid-item">
						<h1 class="thr__h thr__h--lg">13%</h1>
						<h2 class="thr__h thr__h--white thr__h--sm">Increase in page views</h2>
					</div>
					<div class="thr__grid-item">
						<h1 class="thr__h thr__h--lg">2x</h1>
						<h2 class="thr__h thr__h--white thr__h--sm">Increase in Recirculation</h2>
					</div>
				</div>
				<blockquote class="thr__accolade">
					<p class="thr__accolade-item">&ldquo;Upstatement was attentive to our goals and did a great job of figuring out how to define what we do visually.&rdquo;</p>
				</blockquote>
				<div class="thr__client">
					<div class="thr__client-img"><img class="thr__img" src="{{theme.path}}/images/portfolio/hechinger/hechinger-garland.jpg"></div>
					<div class="thr__client-desc txt-lg"><p><strong>Sarah Garland</strong> <br> Editor, The Hechinger Report</p></div>
				</div>
			</div>

		</div>
	</div>

	<picture>
		<source srcset="/wp-content/uploads/2015/01/phones_flat.jpg" media="(min-width: 1000px)">
		<source srcset="{{'/wp-content/uploads/2015/01/phones_flat.jpg'| resize(800)}}" media="(min-width: 600px)">
		<img class="thr__img" srcset="{{'/wp-content/uploads/2015/01/phones_flat.jpg'| resize(450)}}">
	</picture>
	
	<div class="site-width thr__pad--horiz-med">
	<h4 class="thr__topic-h">What We Did</h4>
		<ol class="thr__count-items">
			<li class="thr__count-item thr__count-item--topic">Research</li>
			<li class="thr__count-item thr__count-item--topic">Content Strategy</li>
			<li class="thr__count-item thr__count-item--topic">Design</li>
			<li class="thr__count-item thr__count-item--topic">Front-End Dev</li>
			<li class="thr__count-item thr__count-item--topic">CMS Development</li>
			<li class="thr__count-item thr__count-item--topic">Launch</li>
		</ol>
	</div>

</div>