<div class="full-width">

	<div class="badge-a badge-a--bite-down">
		<div class="triangles triangles--badge-a">
			<div class="triangle__item triangle__item--badge-a--left triangle__item--left"></div>
				<div class="triangle__item triangle__item--badge-a--right triangle__item--right"></div>
		</div>
		<div class="badge-a__content badge-a__content--no-bdr">
			<h3 class="h4 portfolio-kicker portfolio-kicker--thr badge-a__h-sub">Part</h3>
			<h1 class="badge-a__h">4</h1>	
		</div>
		<div class="triangle__item triangle__item--badge-a--down triangle__item--down"></div>
	</div>
	
	<div class="thr__bg thr__bg--yellow thr__pad--bite-in">
		<div class="site-width">
			<div class="portfolio-desc txt-width txt-width--thr">
				<h1 class="thr__h thr__h--lg">Results</h1>
			</div>
			<h2 class="thr__sub-h">Increased traffic and a happy client</h2>
			<div class="portfolio-desc txt-width txt-width--thr">
				<div class="txt-lg portfolio-desc-txt thr__text">
					<p>Friendly, approachable sans serif. But still serious enough for the news. Klim’s <strong>National</strong> struck precisely the right balance. Wanted to pair it with a chunky, bold serif. Something that could hold its own against our fat sans serif. We actually tried to avoid.</p>
				</div>
			</div>
		</div>
	</div>

</div>