// =============================================

//	Hechinger Dependencies

// =============================================

@import "custom/custom-base";
@import "hechinger-partials/mixins.scss";
@import "hechinger-partials/variables.scss";
@import "hechinger-partials/fonts.scss";
@import "site/partials/buttons";

// hechinger dependencies

// =============================================

//	X-Ray

// =============================================

@import "hechinger-partials/x-ray.scss";

// x-ray

// =============================================

//	Main -> Placeholders

// =============================================

%__h {
	font-family: Tiempos, Georgia, Times, serif;
	font-size: 42px;
	line-height: 1;
	font-weight: 900;

	@include mq($h-mobile--lg) {
		font-size: 82px;
		line-height: 91px;
	}
	@include mq($h-tablet--lg) {
		font-size: 82px;
		line-height: 91px;
	}

	&--lg {
		@extend %__h;
		font-size: 52px;
		margin-bottom: 30px;
		@include mq($h-mobile) {
			font-size: 64px;
		}
		@include mq($h-mobile--lg) {
			font-size: 94px;
			margin-bottom: 40px;
		}
		@include mq($h-tablet--lg) {
			font-size: 125px;
			margin-bottom: 60px;
		}
	}

	&--med {
		@extend %__h;
		font-size: 32px;
		line-height: 1;
		margin-bottom: 30px;

		@include mq($h-mobile--lg) {
			font-size: 40px;
		}
	}

	&--sm {
		@extend %__h;
		font-size: 16px;
		line-height: 1;

		@include mq($h-mobile) {
			font-size: 18px;
		}

		@include mq($h-mobile--lg) {
			font-size: 30px;
		}

		@include mq($h-tablet--lg) {
			font-size: 32px;
		}
	}
}

%__text {
	font-family: Tiempos, Georgia, Times, serif;
	font-weight: 300;
}

%sub__h {
	font-family: Tiempos, Georgia, Times, serif;
	font-size: 24px;
	line-height: 36px;
	font-weight: 300;
}

%thr__btn {
	@extend %btn-large;
	max-width: 200px;
	display: block;
	margin: 0 auto;
	text-align: center;
	font-size: 18px;
	transition: background-color 0.2s ease-in-out; 

	&:hover {
		background-color: $black;
	}

	&--blue {
		@extend %thr__btn;
		background-color: $hechingerBlue;
	}

	&--yellow {
		@extend %thr__btn;
		background-color: $hechingerYellow;
	}
}

%__l {
	margin: 0 auto;
	position: relative;

	&--wide {
		@extend %__l;
		width: 80%;
	}
}

%thr__count-list {
	counter-increment: step-counter;
	
	color: $black;
	line-height: 1;
	position: relative;
	font: 500 18px "proxima-nova", Helvetica, Arial, sans-serif;

	@include mq($h-tablet) {
		font-size: 22px;
	}

	&:before {
		content: counter(step-counter);
		margin-top: -14px;
		background-color: $hechingerBlue;
		text-align: center;
		border-radius: 50%;
		font-size: 16px;
		font-weight: 300;
		color: $white;
		position: absolute;
		top: 50%;
		left: 20px;
		height: 28px;
		width: 28px;
		line-height: 28px;

		@include mq($h-mobile) {
			left: 50px;
			height: 30px;
			width: 30px;
			line-height: 30px;
		}
	}
}

// main -> placeholders

// =============================================

//	Main -> Portfolio Mod

// =============================================

.portfolio-h1 {
	font-family: Tiempos, Georgia, Times, serif;
	font-weight: 900;
	color: $white;
}

.txt-width--thr {
	max-width: 700px;
	margin-bottom: 45px;

	@include mq($h-mobile--lg) {
		margin-bottom: 60px;
	}
}

.txt-width--center {
	text-align: center;
}

.portfolio-image-set--full img {
	width: 100%;
}

.portfolio-kicker--thr {
	padding-bottom: 6px;
	&:after {
		background-color: $white;
		width: 100%;
	}
}

// .full-width img { width: 100%; }

// main -> portfolio mod

// =============================================

//	Main -> Character Styles

// =============================================

.thr__h {
	@extend %__h;
	color: $black;
	text-align: center;

	&--white { color: $white; }
	&--lg { @extend %__h--lg; }
	&--med { @extend %__h--med; }
	&--sm { @extend %__h--sm; }
}

.thr__sub-h {
	@extend %sub__h;
	color: $black;
	text-align: center;
	margin-bottom: 40px;

	@include mq($h-tablet--lg) {
		font-size: 42px;
		line-height: 62px;
		margin-bottom: 60px;
	}
}

.thr__topic-h {
	font-family: National, sans-serif;
	color: $black;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 20px;
	line-height: 36px;
	text-align: center;
	margin-bottom: 40px;

	&--bdr {
		border-bottom: 1px solid currentColor;
		display: inline-block;
	}
	
	&--white {
		color: $white;
	}
}

.thr__text {
	p {
		@extend %__text;
		font-size: 18px;
		line-height: 26px;
		color: $black;

		@include mq($h-tablet--lg) {
			font-size: 23px;
			line-height: 42px;
		}
	}

	.dropcap {
		font-family: Tiempos, Georgia, Times, serif;
		font-weight: 700;
	}

	&--white p {
		color: $white;
	}
}

.thr__text-mod {
	&--center {
		text-align: center;
	}
}

.thr__scroll-nav {
	margin-bottom: 80px;
}

.thr__nav-items { list-style: none; }

.thr__nav-item {
	@extend %thr__count-list;
	
	border-top: 1px solid $black;

	&:last-child { border-bottom: 1px solid $black; }
	&:before { transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; }
	
	html.no-touch & {
		&:hover {
			&:before { background-color: $black; color: $white; }
		}
	}
}

.thr__nav-link {
	padding: 20px 25px 20px 60px;
	text-decoration: none;
	display: block;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

	@include mq($h-mobile) {
		padding: 25px 30px 25px 90px;
	}

	html.no-touch & {
		&:hover {
			background-color: $hechingerBlue;
			.thr__txt-mod { color: $white; }
		}
	}
}

.thr__count-item {
	@extend %thr__count-list;

	&--topic {
		border-bottom: 1px solid $mediumGray;
		font-size: 18px;
		padding: 15px 1% 15px 20%;

		@include mq($h-mobile) {
			padding: 15px 1% 15px 15%;
		}

		@include mq($h-tablet) {
			display: inline-block;
			padding: 22px 1% 22px 10%;
			float: left;
			width: 33.3%;
		}
		
		@include mq($h-tablet--lg) {
			font-size: 22px;
		}

		&:before {
			left: 5%;
			@include mq($h-tablet) {
				left: 12%;
			}
		}

		// &:nth-child(n+4) {
		// 	@include mq($h-tablet) {
		// 		border-bottom: 0;
		// 	}
		// }
	}
}

.thr__count-items {
	list-style: none;
	border-top: 1px solid $mediumGray;
	overflow: auto;
}

// main -> character styles

// =============================================

//	Main -> Layout

// =============================================

.thr__divider {
	max-width: 30px;
	margin: 0 auto;
	position: relative;
	&:after,
	&:before {
		content: "";
		position: absolute;
		width: 80px;
		height: 1px;
		background-color: $white;
		top: 50%;
		margin-top: -7px;
	}
	&:after {
		left: -100px;
	}
	&:before {
		right: -100px;
	}
}

.thr__icon--badge {
	width: 100%;
	fill: $white;
}

.thr__bg {
	position: relative;
	width: 100%;

	&--hidden {
		overflow: hidden;
	}

	&--blue {
		background-color: $hechingerBlue;
	}

	&--yellow {
		background-color: $hechingerYellow;
	}

	&--light-gray {
		background-color: $lightGray;
	}
}

.thr__pad {
	&--horiz {
		padding-top: 80px;
		padding-bottom: 80px;

		@include mq($h-mobile--lg) {
			padding-top: 100px;
			padding-bottom: 100px;
		}

		@include mq($h-tablet--lg) {
			padding-top: 140px;
			padding-bottom: 140px;
		}
	}

	&--top-lg{
		padding-top: 25%;
	}

	&--bottom-med {
		padding-bottom: 60px;

		@include mq($h-mobile--lg) {
			padding-bottom: 80px;
		}
	}

	&--horiz-med {
		padding-top: 40px;
		padding-bottom: 40px;

		@include mq($h-mobile--lg) {
			padding-top: 60px;
		padding-bottom: 60px;;
		}

		@include mq($h-tablet--lg) {
			padding-top: 80px;
		padding-bottom: 80px;
		}
	}

	&--bite-in {
		padding-top: 100px;
		padding-bottom: 50px;

		@include mq($h-mobile--lg) {
			padding-top: 120px;
			padding-bottom: 60px;
		}

		@include mq($h-tablet--lg) {
			padding-top: 160px;
			padding-bottom: 80px;
		}
	}
}

.thr__txt-mod {
	&--blue { color: $hechingerBlue; }
}

.thr__img {
	width: 100%;
	&--pad {
		padding-left: 10px;
		padding-right: 10px;
	}

	&--bdr-shadow{
		border: 1px solid $mediumGray;
		box-shadow: rgba(0, 0, 0, 0.2) -2px 1px 10px;
	}
}

.thr__l {
	@extend %__l;
	&--wide { @extend %__l--wide; }

	&--rule {
		border-bottom: 1px solid rgba(0, 0, 0, 0.5);
		> .thr__grid-item:nth-of-type(2n+2) { border-left: 1px solid rgba(0, 0, 0, 0.5); }
	}
}

.thr__grid {
	padding-bottom: 10px;
	margin-bottom: 40px;
	@include pie-clearfix;
	text-align: center;
}

.thr__grid-item {
	padding: 10px 20px 60px 20px;
	float: left;
  	width: 50%;

  	&:nth-of-type(2n+3) {
		clear: left;
	}
}

.thr__accolade-item {
	@extend %__h--sm;
	line-height: 30px;
	margin-bottom: 25px;
	
	@include mq($h-mobile--lg) {
		line-height: 42px;
		margin-bottom: 30px;
	}

	@include mq($h-tablet--lg) {
		font-size: 35px;
		line-height: 54px;
	}
}

.thr__client {
	@include clearfix;
	display: table;
}

.thr__client-img {
	overflow: hidden;
	border-radius: 40px;
	max-width: 80px;
	width: 100%;
	position: relative;
	float: left;
}

.thr__client-desc {
	padding: 10px 0 10px 10px;
	display: table-cell;
	vertical-align: middle;
	line-height: 24px;
	> p { margin-bottom: 0; }
}

// main -> layout

// =============================================

//	Main -> Quote Box

// =============================================

.thr__quote-box {
	border: 8px solid lighten($hechingerBlue, 10%);
	padding: 30px;
	position: relative;
	margin-bottom: 100px;
	
	@include mq($h-mobile--lg) {
		padding: 45px;
		border: 10px solid lighten($hechingerBlue, 10%);
	}

	@include mq($h-tablet--lg) {
		padding: 90px;
		padding: 75px;
	}
	&:before,
	&:after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-color: transparent;
	}
	&:before {
		bottom: -70px;
		left: 30px;
		border-width: 0 70px 70px 0;
		border-color: transparent lighten($hechingerBlue, 10%) transparent transparent;

		@include mq($h-mobile--lg) {
			bottom: -100px;
			left: 70px;
			border-width: 0 100px 100px 0;
		}
	}
	&:after {
		bottom: -50px;
		left: 42px;
		border-width: 0px 50px 50px 0;
		border-color: transparent $hechingerBlue transparent transparent;

		@include mq($h-mobile--lg) {
			bottom: -75px;
			left: 85px;
			border-width: 0px 75px 75px 0;
		}
	}
}

.thr__quote-text {
	@extend %sub__h;
	font-size: 18px;
	line-height: 28px;
	font-weight: 300;
	color: $white;

	@include mq($h-mobile--lg) {
		font-size: 26px;
		line-height: 44px;
	}

	@include mq($h-tablet--lg) {
		font-size: 42px;
		line-height: 62px;
	}
}

.thr__btn {
	@extend %thr__btn;
	&--blue { @extend %thr__btn--blue; }
	&--yellow { @extend %thr__btn--yellow; }
}

// main -> quote box

// =============================================

//	Main -> Bite In

// =============================================

.thr__bite-in {
	position: relative;
	background-color: $black;
	width: 100%;
	margin-top: -110px;
	padding: 180px 0 100px 0;

	&--txt-center {
		text-align: center;
	}
}

// main -> bite in

// =============================================

//	Main -> Badge

// =============================================

.badge-a {
	max-width: 80px;
	margin: 60px auto;
	position: relative;
	z-index: 10;

	@include mq($h-tablet--lg) {
		margin: 100px auto;
	}

	&--bite-in {
		margin-top: -50px;
	}

	&--bite-down {
		margin-bottom: -80px;
	}
}

.badge-a__content {
	background-color: $black;
	padding: 14px 10px 0 10px;
	width: 100%;
	text-align: center;
	&:after,
	&:before {
		content: "";
		position: absolute;
		width: 80px;
		height: 1px;
		background-color: $black;
		top: 50%;
		margin-top: -15px;
	}
	&:after {
		left: -100px;
	}
	&:before {
		right: -100px;
	}
}

.badge-a__content {
	&--no-bdr {
		&:before,
		&:after {
			display: none;
		}
	}
}

.badge-a__h {
	font-family: Tiempos, Georgia, Times, serif;
	font-weight: 900;
	font-size: 30px;
	line-height: 30px;
	color: $white;
}

.badge-a__h-sub {
	font-size: 16px;
	margin-bottom: 8px;
} 

.triangle__item--badge-a--left {
	&:after {
		border-color: transparent transparent transparent $black;
	}
}

.triangle__item--badge-a--right {
	&:after {
		border-color: transparent transparent $black transparent;
	}
}

.triangle__item--badge-a--down {
	&:after {
		border-top: 260px solid $black;
		margin-top: -279px;
	}
}

// main -> badge

// =============================================

//	Main -> Exam Books

// =============================================

.thr__exam-books {
	position: relative;
	padding: 60px 0;
	
	@include mq($h-tablet) {
		padding: 100px 0;
	}

	@include clearfix;
}

.thr__exam-book {
	width: 33.33%;
	position: relative;
	float: left;
	padding-right: 10px;
	&:nth-of-type(2) {
		margin-top: -50px;
	}
	&:last-child {
		padding: 0;
	}
}

.thr__exam-book-img {
	width: 100%;
}

// main -> exam books

// =============================================

//	Main -> Typeface Spec

// =============================================

.thr__logo {
	width: 20%;
	max-width: 300px;
	margin: 0 auto -11% auto;
	position: relative;
	z-index: 10;

	@include mq($h-desktop--lg) {
		font-size: 82px;
		line-height: 91px;
		margin-bottom: -180px;
	}
}

.thr__type-spec {
	width: 100%;
	border-top: 4px solid $black;
	border-bottom: 2px solid rgba(0,0,0, 0.2); 
	color: $black;
	margin-bottom: 45px;
	display: flex;
	flex-direction: column;

	@include mq($h-mobile--lg) {
		flex-direction: row;
	}
}

.thr__type-item {
	flex-grow: 1;
	font-size: 18px;
	padding: 10px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);

	@include mq($h-mobile--lg) {
		border-bottom: 0;
	}
	
	@include mq($h-tablet) {
		font-size: 24px;
	}

	&:last-child {
		flex-grow: 3;
		border-bottom: 0;

		@include mq($h-mobile--lg) {
			text-align: right;
			padding-right: 20px;
		}
	}
}

.thr__type {
	@extend %__l--wide;
	&--tiempos {
		margin: -10% auto 14% auto;
	}

	&--national {
		margin: -2% auto 14% auto;
	}
}

.thr__svg {
	width: 100%;

	&--yellow {
		fill: $hechingerYellow;
	}

	&--blue {
		fill: darken($hechingerBlue, 5%);
	}
}

// main -> typeface spec

// =============================================

//	Main -> Brand Guidelines

// =============================================

.thr__guidelines {
	@extend %__l--wide;
	@include clearfix;
}

.thr__guideline-item {
	width: 100%;
	position: relative;
	padding-bottom: 10px;

	@include mq($h-mobile--lg) {
		width: 50%;
		float: left;
		padding-left: 10px;
	}
}

// main -> brand guidelines

// =============================================

//	Main -> Tablet

// =============================================

.thr__tablet {
	background: $mediumGray;
	padding: 11.7% 4.3%;
	border-radius: 20px;
	width: 100%;
	position: relative;

	@include mq($h-mobile) {
		border-radius: 30px;
	}

	@include mq($h-mobile--lg) {
  		border-radius: 36px;
  	}
	@include mq($h-tablet--lg) {
  		border-radius: 44px;
  	}
	&:before {
		width: calc(100% - 6px);
		height: calc(100% - 6px);
		position: absolute;
		content: '';
		display: block;
		top: 3px;
		left: 3px;
		border-radius: 17px;
		background: $black;
		
		@include mq($h-mobile) {
			border-radius: 26px;
		}

		@include mq($h-mobile--lg) {
  			border-radius: 33px;
  			width: calc(100% - 8px);
			height: calc(100% - 8px);
			top: 4px;
			left: 4px;
  		}
		@include mq($h-tablet--lg) {
  			border-radius: 40px;
  		}
	}
}

.thr__tablet-screen {
	width: 100%;
	position: relative;
	height: 100%;
	color: white;
	z-index: 2;
	text-align: center;
	display: block;
	border-radius: 1px;
	box-shadow: 0 0 0 3px #111;
}

.thr__tablet-home {
  background: #000000;
  width: 6%;
  height: 4.13%;
  position: absolute;
  left: 50%;
  margin-left: -4%;
  bottom: 2%;
  border-radius: 35px;
  border: 2px solid $mediumGray;
  @include mq($h-tablet--lg) {
  	border: 3px solid $mediumGray;
  }
}

.thr__tablet-camera {
	background: #b2b2b2;
	width: 1.65%;
  	height: 1.1%;
	position: absolute;
	left: 50%;
	margin-left: -5px;
	top: 3.7%;
	border-radius: 35px;
}

// main -> tablet