<li class="project-list__item"><a id="item-{{item.slug}}" href="{{item.path}}">
	<h4 class="project-list__overline">{{item.client_name}}</h4>
	<h3 class="project-list__h">{{item.title}}</h3>	
</a></li>